In [137]:
# 데이터
import pandas as pd
df = pd.DataFrame({
    'Caffeine(mg)': [
        94.2, 93.7, 95.5, 93.9, 94.0, 95.2, 94.7, 93.5, 92.8, 94.4,
        93.8, 94.6, 93.3, 95.1, 94.3, 94.9, 93.9, 94.8, 95.0, 94.2,
        93.7, 94.4, 95.1, 94.0, 93.6
    ]
})

In [138]:
from scipy import stats

result=stats.ttest_1samp(df['Caffeine(mg)'],95,alternative='less')
result

TtestResult(statistic=np.float64(-5.501737036221897), pvalue=np.float64(5.8686553916715e-06), df=np.int64(24))

In [139]:
stats.shapiro(df['Caffeine(mg)'])

ShapiroResult(statistic=np.float64(0.9826578166170533), pvalue=np.float64(0.9322031137746914))

In [140]:
# 데이터
import pandas as pd
df = pd.DataFrame({
    '충전기': ['New'] * 10 + ['Old'] * 10,
    '충전시간': [
        1.5, 1.6, 1.4, 1.7, 1.5, 1.6, 1.7, 1.4, 1.6, 1.5,
        1.7, 1.8, 1.7, 1.9, 1.8, 1.7, 1.8, 1.9, 1.7, 1.6
    ]
})
df.head()

   충전기  충전시간
0  New   1.5
1  New   1.6
2  New   1.4
3  New   1.7
4  New   1.5

In [141]:
cond1=df['충전기']=='New'
cond2=df['충전기']=='Old'

stats.ttest_ind(df[cond2]['충전시간'],df[cond1]['충전시간'],alternative='greater')

TtestResult(statistic=np.float64(4.582575694955849), pvalue=np.float64(0.00011546547787696304), df=np.float64(18.0))

In [142]:
# 데이터
import pandas as pd
df = pd.DataFrame({
    'User': list(range(1, 11)),
    '기존방법': [60.4, 60.7, 60.5, 60.3, 60.8, 60.6, 60.2, 60.5, 60.7, 60.4],
    '새로운방법': [59.8, 60.2, 60.1, 59.9, 59.7, 58.4, 57.0, 60.3, 59.6, 59.8]
})
print(df.head(2))

   User  기존방법  새로운방법
0     1  60.4   59.8
1     2  60.7   60.2

In [143]:
diff=df['새로운방법']-df['기존방법']
diff.mean()

np.float64(-1.0300000000000005)

In [144]:
from scipy import stats

stats.ttest_rel(df['새로운방법'],df['기존방법'],alternative='less')

TtestResult(statistic=np.float64(-3.407973078114844), pvalue=np.float64(0.0038872633380070652), df=np.int64(9))

In [145]:
import pandas as pd
# df = pd.read_csv("math.csv")
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part3/ch6/math.csv")
print(df.head())

    groups  scores
0  group_A      85
1  group_A      88
2  group_A      90
3  group_A      82
4  group_A      87

In [146]:
groupa=df['groups']=='group_A'
groupb=df['groups']=='group_B'
groupc=df['groups']=='group_C'
groupd=df['groups']=='group_D'

print(stats.shapiro(df[groupa]['scores']))
print(stats.shapiro(df[groupb]['scores']))
print(stats.shapiro(df[groupc]['scores']))
print(stats.shapiro(df[groupd]['scores']))


print(stats.levene(df[groupa]['scores'],df[groupb]['scores'],df[groupc]['scores'],df[groupd]['scores']))

ShapiroResult(statistic=np.float64(0.9715896670696531), pvalue=np.float64(0.9051800443853569))
ShapiroResult(statistic=np.float64(0.9499422438060351), pvalue=np.float64(0.6678172590861611))
ShapiroResult(statistic=np.float64(0.9299424104842702), pvalue=np.float64(0.44732595113862045))
ShapiroResult(statistic=np.float64(0.9065684572704982), pvalue=np.float64(0.25824165549017347))
LeveneResult(statistic=np.float64(1.757685352622062), pvalue=np.float64(0.17270284963232108))

In [147]:
from statsmodels.formula.api import ols

model=ols('scores ~ groups',df).fit()

from statsmodels.stats.anova import anova_lm
anova_lm(model)

            df  sum_sq     mean_sq          F        PR(>F)
groups     3.0   411.8  137.266667  34.174274  1.240642e-10
Residual  36.0   144.6    4.016667        NaN           NaN

In [148]:
# # 3.귀무가설기각
# 4.df=3 
# 5.df_res=36

In [149]:
diff=df['scores']-model.predict(df)

sum(diff*2)
# 6 -5.1190e-13

-5.115907697472721e-13

In [150]:
model.get_prediction(df)
model.summary_frame()

AttributeError: 'OLSResults' object has no attribute 'summary_frame'

In [ ]:
df=pd.read_csv('tomato2.csv')
df

In [ ]:
from statsmodels.formula.api import ols

model=ols('수확량 ~ 비료유형*C(물주기)',df).fit()

from statsmodels.stats.anova import anova_lm

anova_lm(model)

In [ ]:
3.채택
6.기각
채택

In [ ]:
df=pd.DataFrame({'경험수':[550,250,100,70,30],'전국':[1000*0.6,1000*0.25,0.08*1000,0.05*1000,0.02*1000]},index=[1,2,3,4,5])

In [ ]:
df

In [ ]:
stats.chisquare(df['전국'],df['경험수'])

In [ ]:
df=pd.DataFrame({'등록함':[50,60],'등록안함':[30,40]},index=['빅데이터','정보처리기사'])
df

In [ ]:
from scipy.stats import chi2_contingency

chi2_contingency(df)

In [ ]:
# 데이터
import pandas as pd
df = pd.DataFrame({
        '캠프': ['빅분기']*80 + ['정처기']*100,
        '등록여부': ['등록']*50 + ['등록안함']*30 + ['등록']*60 + ['등록안함']*40
})
print(df.head())

In [ ]:
df=pd.crosstab(df['캠프'],df['등록여부'])
df

In [ ]:
chi2_contingency(df)

In [ ]:
# 데이터
import pandas as pd
df = pd.DataFrame({
    '할인율': [28, 24, 13, 0, 27, 30, 10, 16, 6, 5, 7, 11, 11, 30, 25,
            4, 7, 24, 19, 21, 6, 10, 26, 13, 15, 6, 12, 6, 20, 2],
    '온도': [15, 34, 15, 22, 29, 30, 14, 17, 28, 29, 19, 19, 34, 10,
           29, 28, 12, 25, 32, 28, 22, 16, 30, 11, 16, 18, 16, 33, 12, 22],
    '광고비': [342, 666, 224, 764, 148, 499, 711, 596, 797, 484, 986, 347, 146, 362, 642,
            591, 846, 260, 560, 941, 469, 309, 730, 305, 892, 147, 887, 526, 525, 884],
    '주문량': [635, 958, 525, 25, 607, 872, 858, 732, 1082, 863, 904, 686, 699, 615, 893,
            830, 856, 679, 918, 951, 789, 583, 988, 631, 866, 549, 910, 946, 647, 943]
})
print(df.head(3))

In [ ]:
df['할인율'].corr(df['온도'])

In [ ]:
model=ols('주문량 ~ 할인율+온도+광고비',df).fit()

model.summary()

In [ ]:
1.0.09392795276277474
2.0.4
3.4.2068
3-29.4798
3-3.0.4148
4.267.6609
5.통계적으로 유의하다 <0.05
6.706
7.
732197.898814207
8.
24406.596627140232
9.

In [ ]:
pred=model.predict({'할인율':10,'온도':20,'광고비':500})

pred

In [ ]:
diff=df['주문량']-model.predict(df)

In [ ]:
(diff**2).mean()

In [ ]:



model.conf_int(alpha=0.1)

In [ ]:
pred=model.get_prediction({'할인율':15,'온도':25,'광고비':300})

pred.summary_frame(alpha=0.1)

In [ ]:
model2=ols('주문량 ~ 광고비',df).fit()
model2.summary()

In [ ]:
from statsmodels.formula.api import logit

In [155]:
df=pd.read_csv('customer_travel.csv')
df

     age  service  social  booked  target
0     34        6       0       1       0
1     34        5       1       0       1
2     37        3       1       0       0
3     30        2       0       0       0
4     30        1       0       0       0
..   ...      ...     ...     ...     ...
795   35        6       0       1       0
796   30        1       1       0       0
797   30        4       1       0       0
798   37        1       0       1       0
799   28        4       0       0       1

[800 rows x 5 columns]

In [156]:
dfa=df[:400]
dfb=df[400:]
dfb

     age  service  social  booked  target
400   31        1       0       1       0
401   37        1       0       0       0
402   34        1       1       1       0
403   30        2       0       0       0
404   36        5       0       0       1
..   ...      ...     ...     ...     ...
795   35        6       0       1       0
796   30        1       1       0       0
797   30        4       1       0       0
798   37        1       0       1       0
799   28        4       0       0       1

[400 rows x 5 columns]

In [ ]:
model=logit('target ~ age+service+social+booked',dfa).fit()
model.summary()

In [ ]:
# service,social 은 유효하지않음
# #

In [157]:
model2=logit('target ~ age+booked',dfa).fit()
model2.summary()

Optimization terminated successfully.
         Current function value: 0.528581
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  400
Model:                          Logit   Df Residuals:                      397
Method:                           MLE   Df Model:                            2
Date:                Sun, 28 Sep 2025   Pseudo R-squ.:                 0.05064
Time:                        17:33:15   Log-Likelihood:                -211.43
converged:                       True   LL-Null:                       -222.71
Covariance Type:            nonrobust   LLR p-value:                 1.265e-05
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.4581      1.184      2.076      0.038       0.137       4.779
age           -0.1025      0.037     -2.752      0.006      -0.176      -0.030
booked        -0.9461      0.267     -3.542      0.000      -1.470      -0.423
==============================================================================
"""

In [ ]:
# 3.booked
import numpy as np
np.exp(model2.params['booked']*3)

In [ ]:
model2.llf

In [152]:
-2*model2.llf

np.float64(422.8647650289116)

In [158]:
pred2=model2.predict(dfb)

pred2=(pred2>0.5).astype(int)

In [ ]:
pred2.summary_frame()

In [159]:
from sklearn.metrics import accuracy_score

accuracy_score(dfb['target'],pred2)

0.765

In [154]:
dfb

     age  service  social  booked
400   31        1       0       1
401   37        1       0       0
402   34        1       1       1
403   30        2       0       0
404   36        5       0       0
..   ...      ...     ...     ...
795   35        6       0       1
796   30        1       1       0
797   30        4       1       0
798   37        1       0       1
799   28        4       0       0

[400 rows x 4 columns]