In [7]:
import pandas as pd
df = pd.DataFrame({
    'Caffeine(mg)': [
        94.2, 93.7, 95.5, 93.9, 94.0, 95.2, 94.7, 93.5, 92.8, 94.4,
        93.8, 94.6, 93.3, 95.1, 94.3, 94.9, 93.9, 94.8, 95.0, 94.2,
        93.7, 94.4, 95.1, 94.0, 93.6
    ]
})
df['Caffeine(mg)'].mean()

from scipy import stats

stats.shapiro(df['Caffeine(mg)'])

stats,pv=stats.ttest_1samp(df['Caffeine(mg)'],95,alternative='less')
print(stats)
print(pv<0.05)

-5.501737036221897
True

In [13]:
import pandas as pd
df = pd.DataFrame({
    '충전기': ['New'] * 10 + ['Old'] * 10,
    '충전시간': [
        1.5, 1.6, 1.4, 1.7, 1.5, 1.6, 1.7, 1.4, 1.6, 1.5,
        1.7, 1.8, 1.7, 1.9, 1.8, 1.7, 1.8, 1.9, 1.7, 1.6
    ]
})
from scipy import stats
stats,pv=stats.ttest_ind(df.query("충전기=='New'").충전시간,df.query("충전기=='Old'").충전시간,alternative='less')
print(pv<0.05)
print(stats)
print(pv)

True
-4.582575694955849
0.00011546547787696304

In [19]:
# 데이터
import pandas as pd
df = pd.DataFrame({
    'User': list(range(1, 11)),
    '기존방법': [60.4, 60.7, 60.5, 60.3, 60.8, 60.6, 60.2, 60.5, 60.7, 60.4],
    '새로운방법': [59.8, 60.2, 60.1, 59.9, 59.7, 58.4, 57.0, 60.3, 59.6, 59.8]
})
print(df.head(2))

md=(df.새로운방법-df.기존방법).mean()
from scipy import stats
stats,pv=stats.ttest_rel(df.새로운방법,df.기존방법,alternative='less')
print(md)
print(pv)
print(stats)
print(pv<0.05)

   User  기존방법  새로운방법
0     1  60.4   59.8
1     2  60.7   60.2
-1.0300000000000005
0.0038872633380070652
-3.407973078114844
True

In [65]:
df=pd.read_csv('math.csv')

gA=df.query("groups=='group_A'")
gB=df.query("groups=='group_B'")
gC=df.query("groups=='group_C'")
gD=df.query("groups=='group_D'")

from scipy import stats
print(stats.shapiro(gA.scores)[1]>0.05)
print(stats.shapiro(gB.scores)[1]>0.05)
print(stats.shapiro(gC.scores)[1]>0.05)
print(stats.shapiro(gD.scores)[1]>0.05)


print(stats.levene(gA.scores,gB.scores,gC.scores,gD.scores)[1]>0.05)

stats,pv=stats.f_oneway(gA.scores,gB.scores,gC.scores,gD.scores)
print(stats)
print(pv)
print(pv<0.05)
# print(stats.f_oneway(gA.scores,gB.scores,gC.scores,gD.scores))

from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

model=ols('scores~groups',df).fit()
anova_lm(model)

True
True
True
True
True
34.17427385892114
1.2406415428510513e-10
True

            df  sum_sq     mean_sq          F        PR(>F)
groups     3.0   411.8  137.266667  34.174274  1.240642e-10
Residual  36.0   144.6    4.016667        NaN           NaN

In [79]:
import pandas as pd
from scipy import stats

df=pd.read_csv('tomato2.csv')

from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

model=ols('수확량~비료유형*물주기',df).fit()
anova_lm(model)['PR(>F)']

비료유형        0.052143
물주기         0.006459
비료유형:물주기    0.287135
Residual         NaN
Name: PR(>F), dtype: float64

In [84]:
print(30/1000)
observed=[550,250,100,70,30]
expected=[1000*0.6,1000*0.25,1000*0.08,1000*0.05,1000*0.02]

from scipy import stats
stats,pv=stats.chisquare(observed,expected)
print(stats)
print(pv)
print(pv<0.05)

0.03
22.166666666666668
0.00018567620386641424
True

In [94]:
df=pd.DataFrame({'등록함':[50,60],'등록안함':[30,40]},index=['빅분기','정처기'])

from scipy import stats
print(stats.chi2_contingency(df).pvalue)
print(stats.chi2_contingency(df).pvalue<0.05)

0.8508492527705047
False

In [105]:
import pandas as pd
df = pd.DataFrame({
        '캠프': ['빅분기']*80 + ['정처기']*100,
        '등록여부': ['등록']*50 + ['등록안함']*30 + ['등록']*60 + ['등록안함']*40
})
df=pd.crosstab(df.캠프,df.등록여부)
stats.chi2_contingency(df)

Chi2ContingencyResult(statistic=np.float64(0.03535714285714309), pvalue=np.float64(0.8508492527705047), dof=1, expected_freq=array([[48.88888889, 31.11111111],
       [61.11111111, 38.88888889]]))

In [132]:
# 데이터
import pandas as pd
df = pd.DataFrame({
    '할인율': [28, 24, 13, 0, 27, 30, 10, 16, 6, 5, 7, 11, 11, 30, 25,
            4, 7, 24, 19, 21, 6, 10, 26, 13, 15, 6, 12, 6, 20, 2],
    '온도': [15, 34, 15, 22, 29, 30, 14, 17, 28, 29, 19, 19, 34, 10,
           29, 28, 12, 25, 32, 28, 22, 16, 30, 11, 16, 18, 16, 33, 12, 22],
    '광고비': [342, 666, 224, 764, 148, 499, 711, 596, 797, 484, 986, 347, 146, 362, 642,
            591, 846, 260, 560, 941, 469, 309, 730, 305, 892, 147, 887, 526, 525, 884],
    '주문량': [635, 958, 525, 25, 607, 872, 858, 732, 1082, 863, 904, 686, 699, 615, 893,
            830, 856, 679, 918, 951, 789, 583, 988, 631, 866, 549, 910, 946, 647, 943]
})
print(df.head(3))

print('corr:',round(df.할인율.corr(df.온도),2))

from statsmodels.formula.api import ols
model=ols('주문량~할인율+온도+광고비',df).fit()
print(round(model.rsquared,2))
print(model.pvalues<0.05)
new_data=pd.DataFrame({'할인율':[10],'온도':[20],'광고비':[500]})
model.predict(new_data)
(model.resid**2).mean()

model.conf_int(alpha=0.1)
new_data2=pd.DataFrame({'할인율':[15],'온도':[25],'광고비':[300]})
model.get_prediction(new_data2).summary_frame(alpha=0.1)

# model2=ols('주문량~광고비',df).fit()
# model2.pvalues<0.05
# model.pvalues
# model.params

   할인율  온도  광고비  주문량
0   28  15  342  635
1   24  34  666  958
2   13  15  224  525
corr: 0.09
0.4
Intercept     True
할인율          False
온도            True
광고비           True
dtype: bool

,mean,mean_se,mean_ci_lower,mean_ci_upper,obs_ci_lower,obs_ci_upper
0,692.207386,45.555397,614.507283,769.907488,395.622293,988.792478

In [162]:
data=pd.read_csv('customer_travel.csv')

a=data[:int(len(data)*0.5)]
b=data[int(len(data)*0.5):]

from statsmodels.formula.api import logit
model=logit('target~age+service+social+booked',a).fit()
model.pvalues<0.05
modified=logit('target~age+booked',a).fit()
modified.pvalues.nlargest(2)
abs(modified.params).nlargest(2)
import numpy as np
np.exp(modified.params.booked*3)

sum(modified.params[modified.pvalues<0.05])

pred=(modified.predict(b)>0.5).astype('int')


from sklearn.metrics import accuracy_score
1-accuracy_score(b['target'],pred)

Optimization terminated successfully.
         Current function value: 0.527521
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.528581
         Iterations 6

0.235