In [2]:
# 데이터
import pandas as pd
df = pd.DataFrame({
    'Caffeine(mg)': [
        94.2, 93.7, 95.5, 93.9, 94.0, 95.2, 94.7, 93.5, 92.8, 94.4,
        93.8, 94.6, 93.3, 95.1, 94.3, 94.9, 93.9, 94.8, 95.0, 94.2,
        93.7, 94.4, 95.1, 94.0, 93.6
    ]
})

In [6]:
from scipy import stats
import numpy as np


df['Caffeine(mg)'].mean()

np.float64(94.264)

In [8]:
stats.ttest_1samp(df['Caffeine(mg)'],95,alternative='less')

TtestResult(statistic=np.float64(-5.501737036221897), pvalue=np.float64(5.8686553916715e-06), df=np.int64(24))

In [9]:
stats.shapiro(df['Caffeine(mg)'])

ShapiroResult(statistic=np.float64(0.9826578166170533), pvalue=np.float64(0.9322031137746914))

In [10]:
# 데이터
import pandas as pd
df = pd.DataFrame({
    '충전기': ['New'] * 10 + ['Old'] * 10,
    '충전시간': [
        1.5, 1.6, 1.4, 1.7, 1.5, 1.6, 1.7, 1.4, 1.6, 1.5,
        1.7, 1.8, 1.7, 1.9, 1.8, 1.7, 1.8, 1.9, 1.7, 1.6
    ]
})
print(df.head(2))

   충전기  충전시간
0  New   1.5
1  New   1.6

In [11]:
df

    충전기  충전시간
0   New   1.5
1   New   1.6
2   New   1.4
3   New   1.7
4   New   1.5
5   New   1.6
6   New   1.7
7   New   1.4
8   New   1.6
9   New   1.5
10  Old   1.7
11  Old   1.8
12  Old   1.7
13  Old   1.9
14  Old   1.8
15  Old   1.7
16  Old   1.8
17  Old   1.9
18  Old   1.7
19  Old   1.6

In [22]:
new=df.query("충전기=='New'").충전시간

In [23]:
old=df.query("충전기=='Old'").충전시간

In [24]:
stats.ttest_ind(new,old,alternative='less')

TtestResult(statistic=np.float64(-4.582575694955849), pvalue=np.float64(0.00011546547787696304), df=np.float64(18.0))

In [25]:
# 데이터
import pandas as pd
df = pd.DataFrame({
    'User': list(range(1, 11)),
    '기존방법': [60.4, 60.7, 60.5, 60.3, 60.8, 60.6, 60.2, 60.5, 60.7, 60.4],
    '새로운방법': [59.8, 60.2, 60.1, 59.9, 59.7, 58.4, 57.0, 60.3, 59.6, 59.8]
})
print(df.head(2))

   User  기존방법  새로운방법
0     1  60.4   59.8
1     2  60.7   60.2

In [29]:
(df.새로운방법-df.기존방법).mean()

np.float64(-1.0300000000000005)

In [28]:
stats.ttest_rel(df.새로운방법,df.기존방법,alternative='less')

TtestResult(statistic=np.float64(-3.407973078114844), pvalue=np.float64(0.0038872633380070652), df=np.int64(9))

In [30]:
df=pd.read_csv('math.csv')
df

     groups  scores
0   group_A      85
1   group_A      88
2   group_A      90
3   group_A      82
4   group_A      87
5   group_A      89
6   group_A      92
7   group_A      86
8   group_A      88
9   group_A      90
10  group_B      78
11  group_B      80
12  group_B      79
13  group_B      81
14  group_B      80
15  group_B      78
16  group_B      77
17  group_B      79
18  group_B      78
19  group_B      82
20  group_C      80
21  group_C      82
22  group_C      85
23  group_C      84
24  group_C      81
25  group_C      86
26  group_C      82
27  group_C      81
28  group_C      83
29  group_C      80
30  group_D      85
31  group_D      84
32  group_D      86
33  group_D      87
34  group_D      85
35  group_D      86
36  group_D      84
37  group_D      85
38  group_D      87
39  group_D      86

In [34]:
a=df.groupby('groups')['scores'].mean().to_frame()

In [46]:
a=df.query("groups=='group_A'").scores
b=df.query("groups=='group_B'").scores
c=df.query("groups=='group_C'").scores
d=df.query("groups=='group_D'").scores

In [45]:
print(stats.shapiro(a.scores))
print(stats.shapiro(b.scores))
print(stats.shapiro(c.scores))
print(stats.shapiro(d.scores))

ShapiroResult(statistic=np.float64(0.9715896670696531), pvalue=np.float64(0.9051800443853569))
ShapiroResult(statistic=np.float64(0.9499422438060351), pvalue=np.float64(0.6678172590861611))
ShapiroResult(statistic=np.float64(0.9299424104842702), pvalue=np.float64(0.44732595113862045))
ShapiroResult(statistic=np.float64(0.9065684572704982), pvalue=np.float64(0.25824165549017347))

In [47]:
stats.levene(a,b,c,d)

LeveneResult(statistic=np.float64(1.757685352622062), pvalue=np.float64(0.17270284963232108))

In [53]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

model=ols('scores~groups',df).fit()
anova_lm(model)

            df  sum_sq     mean_sq          F        PR(>F)
groups     3.0   411.8  137.266667  34.174274  1.240642e-10
Residual  36.0   144.6    4.016667        NaN           NaN

In [54]:
df=pd.read_csv('tomato2.csv')
df

   비료유형  물주기  수확량
0     A    1  514
1     A    1  480
2     A    1  507
3     A    2  452
4     A    2  526
5     A    2  457
6     A    3  506
7     A    3  502
8     A    3  482
9     A    4  595
10    A    4  491
11    A    4  523
12    B    1  538
13    B    1  469
14    B    1  545
15    B    2  504
16    B    2  538
17    B    2  481
18    B    3  480
19    B    3  547
20    B    3  526
21    B    4  518
22    B    4  533
23    B    4  530
24    C    1  475
25    C    1  444
26    C    1  460
27    C    2  459
28    C    2  446
29    C    2  494
30    C    3  500
31    C    3  515
32    C    3  522
33    C    4  507
34    C    4  511
35    C    4  521

In [56]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

model=ols('수확량~C(물주기)*C(비료유형)',df).fit()
anova_lm(model)

                  df        sum_sq      mean_sq         F    PR(>F)
C(물주기)           3.0   9057.000000  3019.000000  3.661490  0.026460
C(비료유형)          2.0   5251.722222  2625.861111  3.184685  0.059334
C(물주기):C(비료유형)   6.0   4271.833333   711.972222  0.863491  0.535426
Residual        24.0  19788.666667   824.527778       NaN       NaN

In [ ]:
비료유형/귀무가설 채택
물주기/귀무가설 기각
상호작용/귀무가설채택

In [65]:
observed=[550,250,100,70,30]
        
expected=[0.6*1000,0.25*1000,0.08*1000,0.05*1000,0.02*1000]

from scipy.stats import chisquare
stats.chisquare(observed,expected)

Power_divergenceResult(statistic=np.float64(22.166666666666668), pvalue=np.float64(0.00018567620386641424))

In [67]:
observed(normalize=True)

TypeError: 'list' object is not callable

In [69]:
df=pd.DataFrame({'등록함':[50,60],'등록안함':[30,40]},index=['빅데이터','정보처리'])
df

      등록함  등록안함
빅데이터   50    30
정보처리   60    40

In [70]:
stats.chi2_contingency(df)

Chi2ContingencyResult(statistic=np.float64(0.03535714285714309), pvalue=np.float64(0.8508492527705047), dof=1, expected_freq=array([[48.88888889, 31.11111111],
       [61.11111111, 38.88888889]]))

In [71]:
# 데이터
import pandas as pd
df = pd.DataFrame({
        '캠프': ['빅분기']*80 + ['정처기']*100,
        '등록여부': ['등록']*50 + ['등록안함']*30 + ['등록']*60 + ['등록안함']*40
})
print(df.head())

    캠프 등록여부
0  빅분기   등록
1  빅분기   등록
2  빅분기   등록
3  빅분기   등록
4  빅분기   등록

In [74]:
df=pd.crosstab(df['캠프'],df['등록여부'])

stats.chi2_contingency(df)

KeyError: '캠프'

In [75]:
stats.chi2_contingency(df)

Chi2ContingencyResult(statistic=np.float64(0.03535714285714309), pvalue=np.float64(0.8508492527705047), dof=1, expected_freq=array([[48.88888889, 31.11111111],
       [61.11111111, 38.88888889]]))

In [76]:
# 데이터
import pandas as pd
df = pd.DataFrame({
    '할인율': [28, 24, 13, 0, 27, 30, 10, 16, 6, 5, 7, 11, 11, 30, 25,
            4, 7, 24, 19, 21, 6, 10, 26, 13, 15, 6, 12, 6, 20, 2],
    '온도': [15, 34, 15, 22, 29, 30, 14, 17, 28, 29, 19, 19, 34, 10,
           29, 28, 12, 25, 32, 28, 22, 16, 30, 11, 16, 18, 16, 33, 12, 22],
    '광고비': [342, 666, 224, 764, 148, 499, 711, 596, 797, 484, 986, 347, 146, 362, 642,
            591, 846, 260, 560, 941, 469, 309, 730, 305, 892, 147, 887, 526, 525, 884],
    '주문량': [635, 958, 525, 25, 607, 872, 858, 732, 1082, 863, 904, 686, 699, 615, 893,
            830, 856, 679, 918, 951, 789, 583, 988, 631, 866, 549, 910, 946, 647, 943]
})
print(df.head(3))

   할인율  온도  광고비  주문량
0   28  15  342  635
1   24  34  666  958
2   13  15  224  525

In [100]:
print('1:',round(df.할인율.corr(df.온도),2))

model=ols('주문량~광고비+온도+할인율',df).fit()
print('2:',round(model.rsquared,2))

print('3:',round(model.params,4))

print('4:',round(model.pvalues['온도'],4))
print('통계적으로 유의하다')

new_data=pd.DataFrame({'할인율':[10],'온도':[20],'광고비':[500]})
pred=model.predict(new_data)
print('6:',pred)

print('7:',sum(model.resid**2))

print('8:',(model.resid**2).mean())


print('9:',model.conf_int(alpha=0.1).loc['온도'])
new_data=pd.DataFrame({'할인율':[15],'온도':[25],'광고비':[300]})
pred=model.get_prediction(new_data)
print(pred.summary_frame(alpha=0.1))


model=ols('주문량~광고비',df).fit()

if model.pvalues['광고비']<0.05:
    print('귀무가설기각')
else:
    print('채택')

1: 0.09
2: 0.4
3: Intercept    267.6609
광고비            0.4148
온도             9.4798
할인율            4.2068
dtype: float64
4: 0.0289
통계적으로 유의하다
6: 0    706.739338
dtype: float64
7: 732197.8988142072
8: 24406.596627140232
9: 0     2.490702
1    16.468984
Name: 온도, dtype: float64
         mean    mean_se  mean_ci_lower  mean_ci_upper  obs_ci_lower  \
0  692.207386  45.555397     614.507283     769.907488    395.622293

   obs_ci_upper
0    988.792478
귀무가설기각

In [102]:
df=pd.read_csv('customer_travel.csv')
df

     age  service  social  booked  target
0     34        6       0       1       0
1     34        5       1       0       1
2     37        3       1       0       0
3     30        2       0       0       0
4     30        1       0       0       0
..   ...      ...     ...     ...     ...
795   35        6       0       1       0
796   30        1       1       0       0
797   30        4       1       0       0
798   37        1       0       1       0
799   28        4       0       0       1

[800 rows x 5 columns]

In [120]:
a=df[:int(len(df)*0.5)]
b=df[int(len(df)*0.5):]

from statsmodels.formula.api import logit
model=logit('target~age+service+social+booked',a).fit()

# print(model.summary())
print(sum(model.pvalues[1:]>=0.05))
# social 유의하지않음 1개


model=logit('target~age+booked',a).fit()   
print(model.pvalues.sort_values(ascending=False))

print(abs(model.params).sort_values(ascending=False))

print(model.llf)

print(-2*model.llf)

import numpy as np

print(np.exp(3*model.params['booked']))

print(model.params[model.pvalues<0.05].sum())

pred=model.predict(b)
pred=(pred>0.5).astype('int')
from sklearn.metrics import accuracy_score
print(accuracy_score(b['target'],pred))

ac=accuracy_score(b['target'],pred)

print(1-ac)

Optimization terminated successfully.
         Current function value: 0.527521
         Iterations 6
2
Optimization terminated successfully.
         Current function value: 0.528581
         Iterations 6
Intercept    0.037896
age          0.005922
booked       0.000397
dtype: float64
Intercept    2.458056
booked       0.946054
age          0.102533
dtype: float64
-211.4323825144558
422.8647650289116
0.05853312291771145
1.4094682705861956
0.765
0.235